#tab{
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 10px;

    
}

#tab > div{


    border: 1px solid black; 
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;

}
#sea{

        margin-left: 40%;
}

#sea >button{


    width: 20%;
}
#sea > input{


    width: 200px;
    height: 20px;
}